*{
    margin: 0;

    padding: 0;

}
h1{
    background-color: #081b31;
    color: #ffff;
    height: 5rem;
    line-height: 5rem;
    text-align: center;

}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.choices{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;

}
.msg-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.runs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 4rem;
}
.score {
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
}
#msg{
    background-color: #081b31;
    color: #ffff;
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .5rem;
}